# CSC370 - All SQL notes

\+ Connect to SQL, CLI: `$ sudo mariadb -u root -p`  
\+ Notebook functionality comes from `ipython-sql` and `pymysql`

In [31]:
# Load the SQL extension
%reload_ext sql

# Connect to a MariaDB database
%sql mysql+pymysql://root:hockey09@localhost:3306/init

Traceback (most recent call last):
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\base.py", line 3300, in raw_connection
    return self.pool.connect()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 712, in checkout
    rec = pool._do_get()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\impl.py", line 180, in _do_get
    self._dec_overflow()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    return self._create_connection()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 674, in __init__
    self.__connect()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 901, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\default.py", line 620, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\connections.py", line 358, in __init__
    self.connect()
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\connections.py", line 664, in connect
    self._request_authentication()
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\connections.py", line 976, in _request_authentication
    auth_packet = _auth.caching_sha2_password_auth(self, auth_packet)
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\_auth.py", line 240, in caching_sha2_password_auth
    pkt = conn._read_packet()
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\connections.py", line 772, in _read_packet
    packet.raise_for_error()
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
pymysql.err.OperationalError: (1049, "Unknown database 'init'")

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\abrau\uvic\env\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "c:\Users\abrau\uvic\env\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\base.py", line 3276, in connect
    return self._connection_cls(self)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\base.py", line 148, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\base.py", line 2440, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\base.py", line 3300, in raw_connection
    return self.pool.connect()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 712, in checkout
    rec = pool._do_get()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\impl.py", line 180, in _do_get
    self._dec_overflow()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    return self._create_connection()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 674, in __init__
    self.__connect()
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 901, in __connect
    pool.logger.debug("Error on connect(): %s", e)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\pool\base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
  File "c:\Users\abrau\uvic\env\lib\site-packages\sqlalchemy\engine\default.py", line 620, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\connections.py", line 358, in __init__
    self.connect()
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\connections.py", line 664, in connect
    self._request_authentication()
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\connections.py", line 976, in _request_authentication
    auth_packet = _auth.caching_sha2_password_auth(self, auth_packet)
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\_auth.py", line 240, in caching_sha2_password_auth
    pkt = conn._read_packet()
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\connections.py", line 772, in _read_packet
    packet.raise_for_error()
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\protocol.py", line 221, in raise_for_error
    err.raise_mysql_exception(self._data)
  File "c:\Users\abrau\uvic\env\lib\site-packages\pymysql\err.py", line 143, in raise_mysql_exception
    raise errorclass(errno, errval)
sqlalchemy.exc.OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'init'")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['mysql+pymysql://root:***@localhost:3306/init'])

## Lec.2 - May 10

Ex: Create following:

| Name  | Age |    
|-------|-----|
| Alice | 22  |
| Bob   | 21  |

$\Leftrightarrow$

### 1. Creating database

In [18]:
%%sql
-- CREATE DATABASE T1;
USE T1;

 * mysql+pymysql://root:***@localhost:3306/class
0 rows affected.

[]

#### Deleting database:

In [19]:
%%sql
DROP DATABASE IF EXISTS init;

 * mysql+pymysql://root:***@localhost:3306/class
0 rows affected.

[]

In [20]:
%%sql
SHOW databases;

 * mysql+pymysql://root:***@localhost:3306/class
5 rows affected.

[('T1',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

### 2. Creating a table

In [ ]:
%%sql
CREATE TABLE `Student`(`name` VARCHAR(64),
                `age` INT
);

 * mysql+pymysql://root:***@localhost:3306/class
(pymysql.err.OperationalError) (1050, "Table 'Student' already exists")
[SQL: CREATE TABLE `Student`(`name` VARCHAR(64),
                `age` INT
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

#### Check table existance

In [21]:
%%sql
SHOW tables;

 * mysql+pymysql://root:***@localhost:3306/class
1 rows affected.

[('Student',)]

#### Showing table & info

In [22]:
%%sql
SELECT * FROM Student;

 * mysql+pymysql://root:***@localhost:3306/class
0 rows affected.

[]

In [23]:
%%sql
DESCRIBE Student;

 * mysql+pymysql://root:***@localhost:3306/class
2 rows affected.

[('name', 'varchar(64)', 'YES', '', None, ''),
 ('age', 'int(11)', 'YES', '', None, '')]

### 3. Inserting data

In [24]:
%%sql
insert into Student values('Alice', 22);
SELECT * FROM Student;

 * mysql+pymysql://root:***@localhost:3306/class
1 rows affected.
1 rows affected.

[('Alice', 22)]

#### Deleting data

In [15]:
%%sql
DELETE FROM Student
WHERE Name = 'Alice';

 * mysql+pymysql://root:***@localhost:3306/class
1 rows affected.

[]